<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Itinerary</title>
        <link rel="stylesheet" href="../public/assets/homepage.css">
        <link rel="stylesheet" href="../public/assets/navbar.css">
        <link rel="stylesheet" href="../public/assets/itinerary.css">
        <link rel="shortcut icon" href="/">

    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="landing.html">Sign up</a></li>
                <li><a href="itinerary.ejs">Login</a></li>
            </ul>
        </div>

        <div class="container">
          <div class="topbar">
            <form action="" method="get" class="search-bar" onsubmit="getSearchResult()">
              <input type="text" id="search" placeholder="Find An Itenerary">
              <button type="reset" id="submitButton" onclick="getSearchResult()"><img src="../public/assets/images/search.png"></button>
              <script>
                function getSearchResult() {
                  var item = document.getElementById("search").value;
                  window.location.href = '/location/' + item
                }
              </script>
            </form>
          <section class="mainpage">     
            <div>
              <a href="#" onclick="openForm()" id="button" class="add">
                <div>
                <i class="fa-solid fa-plus"></i>
                </div>
              </a>
              <script>
                function openForm(){
                  var x = document.getElementsByClassName('bg-modal')[0].style.display='flex';
                }
                function closeForm(){
                  var x = document.getElementsByClassName('bg-modal')[0].style.display='none';
                }
              </script>
            </div>
          </section>

          <!--------------------------------------->
          
          <div class="bg-modal" id="bg-modal">
            
            <div class="itenerary-container">
              
                <div class="close" onclick="closeForm()">+</div>
                <div class="addplans">How was your trip?</div>
              <form id="info" action="/" method="post">
                <div class="location">
                        <label for="loc" class="loc-id"> Location</label>
                        
                        <input type="location-input" name="location" id="location" placeholder="Where?">
                </div>
        
                <div class="description-input" >
                    <label for="description-for">Description:</label>
                    <input  id="description" type="text" placeholder="Enter description here...">
                </div>
        
        
                <div class="dropdown-duration">
                    <label class="dropdown">Duration:
                    <select class="options" id="duration">
                        <option value="less-week">less than a week</option>
                        <option value="one-week">1 week</option>
                        <option value="two-week">2 weeks</option>
                        <option value="three-week">3 weeks</option>
                        <option value="one-month">1 month</option>
                        <option value="few-month">few months</option>
                    </select>
                </label>
                </div>

                <div class="type" >
                  <label class="dropdown" id="type">Type:
                  <select>
                      <option value="roadtrip">roadtrip</option>
                      <option value="travel">travel</option>
                      <option value="over-sea">over sea</option>
                      <option value="camping">camping trip</option>
                      <option value="date-night">date</option>
                  </select>
                  </label>
              
              </div>


        
                <div class="price" id="bottomleft">Price <br>
                        <input type="radio" id="dollar3" name="price"value="3" />
                        <label for="dollar3" title="text"></label>
                        <input type="radio" id="dollar2" name="price" value="2" />
                        <label for="dollar2" title="text"></label>
                        <input type="radio" id="dollar1" name="price" value="1" />
                        <label for="dollar1" title="text"></label>
                </div>
        
          
                <div class="mastercard">MasterCard:
                    <div class="check"></div>
                </div>
        
                <div>
                <input type="submit" value="Submit" class="submit"></input>
                </div>
              </form>
            </div>
            </div>


          <!--------------------------------------->

            </div>
            <h1 id="title">Most Popular</h1>
            <div class="wrapper">
                  <a href="/itinerary" class="card">
                    <div class="card-header">
                      <img src="../public/assets/images/tokyo.jpg" alt="rover" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-teal"><%=data[0]['location']%></span>
                      <h2>
                        <%=data[0]['title']%>
                      </h2>
                      <p>
                        <%=data[0]['description']%>
                      </p>
                      <h5>
                        <%=data[0]['rating']%> &#9733 &#9733 &#9733 &#9733 &#9733;
                      </h5>
                    </div>
                  </a>
                  <a href="/itinerary" class="card">
                    <div class="card-header">
                      <img src="https://www.newsbtc.com/wp-content/uploads/2020/06/mesut-kaya-LcCdl__-kO0-unsplash-scaled.jpg" alt="ballons" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-purple"><%=data[1]['location']%></span>
                      <h2>
                        <%=data[1]['title']%>
                      </h2>
                      <p>
                        <%=data[1]['description']%>
                      </p>
                      <h5>
                        <%=data[1]['rating']%> &#9733 &#9733 &#9733 &#9733 &#9733;
                      </h5>
                    </div>
                  </a>
                  <a href="/itinerary" class="card">
                    <div class="card-header">
                      <img src="https://images6.alphacoders.com/312/thumb-1920-312773.jpg" alt="city" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-pink"><%=data[2]['location']%></span>
                      <h2>
                        <%=data[2]['title']%>
                      </h2>
                      <p>
                        <%=data[2]['description']%>
                      </p>
                      <h5>
                        <%=data[2]['rating']%> &#9733 &#9733 &#9733 &#9733 &#9733;
                      </h5>
                    </div>
                  </a>
        </div>
    </body>
</html>

